*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --green: #00d26b;
  --pale: #898D93;
  --gray: #39404a;
  --white: #fff;
  --dark: #191e27;
}

body {
  margin: 0;
  font: 16px/1.25 Arial, serif;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vp;
}

.centered {
  max-width: 1325px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border-style: none;
}
input:focus {
  outline: none;
}

.components {
  padding: 0;
  gap: 30px;
}

.info_header {
  background: rgb(240, 242, 244);
}

.holder_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call_part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_part {
  padding: 0;
  gap: 20px;
}
.about_part li::before {
  content: url(/img/checkMark.svg);
  padding-right: 7px;
}

.call_part {
  gap: 21px;
}
.call_part .buy_svg::before {
  content: url(/img/buy.svg);
  padding-right: 5px;
}
.call_part .buy_svg:hover {
  color: var(--green);
}
.call_part .call_svg::before {
  content: url(/img/call.svg);
  padding-right: 5px;
}
.call_part .call_svg:hover {
  color: var(--green);
}
.call_part .chat_svg::before {
  content: url(/img/chat.svg);
  padding-right: 5px;
}
.call_part .chat_svg:hover {
  color: var(--green);
}

/*patr 2*/
.content_header {
  max-height: 90px;
}

.content_part {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 0;
}

.menu_list {
  gap: 25px;
}

.link_header {
  gap: 21px;
}
.link_header .login_svg::before {
  content: url(/img/login.svg);
  padding-right: 5px;
}
.link_header .cart_svg::before {
  content: url(/img/cart.svg);
  padding-right: 5px;
}

.form_header {
  margin-left: 40px;
}

.inp_header {
  border: 1px solid #ececec;
  border-radius: 4px;
  width: 317px;
  height: 47px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 22px;
  color: var(--pale);
  font-family: "Montserrat";
  font-size: 14px;
}

.img_logo {
  padding-top: 10px;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --green: #00d26b;
  --pale: #898D93;
  --gray: #39404a;
  --white: #fff;
  --dark: #191e27;
}

body {
  margin: 0;
  font: 16px/1.25 Arial, serif;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vp;
}

.centered {
  max-width: 1325px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border-style: none;
}
input:focus {
  outline: none;
}

.components {
  padding: 0;
  gap: 30px;
}

.footer_basic {
  background: #191f28 -o-linear-gradient(331.75deg, #7c8e9b -50.09%, rgba(255, 255, 255, 0) 42.43%);
  background: #191f28 linear-gradient(118.25deg, #7c8e9b -50.09%, rgba(255, 255, 255, 0) 42.43%);
  height: 443px;
  position: absolute;
  left: 0;
  top: 3452px;
  width: 100%;
}

.footer_end {
  background: var(--dark);
  height: 71px;
  position: absolute;
  left: 0;
  top: 3895px;
  width: 100%;
}

/*carusel start*/
.conteiner_carusel {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 223, 223, 0.549)), to(rgba(123, 198, 183, 0.657)));
  background: -o-linear-gradient(top, rgba(238, 223, 223, 0.549) 0%, rgba(123, 198, 183, 0.657) 100%);
  background: linear-gradient(180deg, rgba(238, 223, 223, 0.549) 0%, rgba(123, 198, 183, 0.657) 100%);
  max-height: 637px;
}

.carousel-item > img {
  display: block;
  width: 715px;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.carusel_txtpart {
  width: 419px;
  padding-top: 177px;
  padding-bottom: 173px;
  display: block;
}
.carusel_txtpart .title_txt {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  font-family: "montserrat";
  color: var(--green);
}
.carusel_txtpart .info_txt {
  padding: 15px 0;
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
}
.carusel_txtpart .item_txt {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--gray);
  padding-bottom: 30px;
}

.btn_botton {
  background-color: var(--green);
  width: 153px;
  height: 47px;
  border-radius: 4px;
}
.btn_botton:hover {
  background: var(--white);
}
.btn_botton .btn {
  color: var(--white);
  font-family: "Montserrat";
  font-style: normal;
  line-height: 25px;
  font-size: 14px;
  padding: 11px 40px;
}
.btn_botton .btn:hover {
  color: var(--green);
}

/*carusel end*/
.imtermediate_block {
  min-height: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
}

h2 {
  font-family: "Inter";
  font-weight: 700;
  line-height: 34px;
  max-width: 436px;
  padding-bottom: 16px;
}

.numbers_part {
  gap: 49px;
}

.nums {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: var(--green);
  padding-right: 7px;
}

.years {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray);
  display: block;
  max-width: 143px;
}

.clients {
  display: block;
  max-width: 64px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray);
}

.stars {
  display: block;
  max-width: 139px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray);
}

.txt_element {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.txt_element .txt_el {
  width: 589px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
  padding-bottom: 15px;
}

.link_btn > a {
  color: var(--green);
}

.geo_img {
  background-image: url(/img/geometricFons.png);
  height: 487px;
  width: 706px;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 782px;
  left: 779px;
}

.adob_img {
  background-image: url(/img/adobeStock.png);
  height: 483px;
  width: 793px;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 983px;
  left: 170px;
  z-index: 2;
}

.rec_top, .rec_botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 301px;
  height: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  margin-bottom: 22px;
  border-radius: 5px;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.02);
  padding: 0 30px;
}
.rec_top:hover, .rec_botton:hover {
  background-color: var(--green);
  color: var(--white);
}

.rec_txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--gray);
}
.rec_txt:hover {
  color: var(--white);
}

.element_left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 974px;
  right: 586px;
  z-index: 5;
}

.element_rigth {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 1010px;
  right: 263px;
  z-index: 5;
}

.comp_svg {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding-bottom: 14px;
}
.comp_svg::before {
  content: url(/img/comp.svg);
  fill: var(--green);
  position: absolute;
  top: -1px;
  left: -40px;
}
.comp_svg::before:hover {
  fill: var(--white);
}

.tools_svg {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding-bottom: 14px;
}
.tools_svg::before {
  content: url(/img/tools.svg);
  fill: var(--green);
  position: absolute;
  top: -1px;
  left: -30px;
}
.tools_svg:hover {
  fill: var(--white);
}

.data_svg {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  position: relative;
  width: 133px;
  padding-bottom: 14px;
}
.data_svg::before {
  content: url(/img/data.svg);
  fill: #00d26b;
  position: absolute;
  top: 7px;
  left: -50px;
}
.data_svg:hover {
  fill: #fff;
}

.asset_svg {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding-bottom: 14px;
}
.asset_svg::before {
  content: url(/img/asset.svg);
  fill: var(--green);
  position: absolute;
  top: -1px;
  left: -40px;
}
.asset_svg:hover {
  fill: var(--white);
}

.product_block {
  position: absolute;
  top: 1500px;
  left: 165px;
}

.catalog_block {
  gap: 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.name_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--white);
  padding-left: 35px;
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 49%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #191f28 -o-linear-gradient(331.75deg, #7c8e9b -50.09%, rgba(255, 255, 255, 0) 42.43%);
  background: #191f28 linear-gradient(118.25deg, #7c8e9b -50.09%, rgba(255, 255, 255, 0) 42.43%);
  border-radius: 5px;
  height: 290px;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.picture img {
  width: 100%;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.name_product {
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.about_product {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 27px;
  padding-top: 12px;
}

.link_btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: var(--green);
}

.seller_block {
  position: absolute;
  top: 2194px;
  left: 161px;
}

.name_part {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.components a {
  color: var(--gray);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
.components a:hover {
  color: var(--green);
}

.components_part {
  max-width: 100%;
  padding-top: 14px;
}

.product_components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 22%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 75px;
}

.line {
  width: 1px;
  background: rgb(236, 236, 236);
  margin: 0 17px;
}

.img_components {
  height: 198px;
}
.img_components img {
  margin: 0 auto;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.txt_components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title_components {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.availabiliti {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 38px;
  color: var(--green);
}

.description_components {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.block_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}
.block_price .info_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_price {
  width: 150px;
  height: 47px;
  background: var(--green);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn_price:hover {
  background: var(--white);
  border: 1px solid var(--green);
}

.btn_pr {
  color: var(--white);
}
.btn_pr:hover {
  color: var(--green);
}

.service_block {
  position: absolute;
  top: 2765px;
  left: 0;
  width: 100%;
  background-color: rgba(243, 244, 246, 0.56);
}

.service_name {
  padding-top: 59px;
}

.title_item {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.title_item .service_svg {
  padding-right: 10px;
}

.service_holder {
  gap: 21px;
  padding-top: 21px;
  padding-bottom: 50px;
  width: 100%;
}

.service_column {
  background: var(--white);
  max-width: 23.7%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.7%;
          flex: 0 0 23.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 0 23px;
  min-height: 157px;
  border-radius: 5px;
  z-index: 5;
}

.service_txt {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--gray);
  padding: 10px 0;
}

.posters_block {
  gap: 20px;
  padding-bottom: 50px;
}

.poster_holder {
  max-width: 49%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  height: 285px;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.67)), to(rgba(6, 15, 27, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.67) 0%, rgba(6, 15, 27, 0) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.67) 0%, rgba(6, 15, 27, 0) 100%);
  opacity: 0.67;
  border-radius: 4px;
  position: relative;
}

.poster {
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  display: block;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: -5;
}

.poster_txt {
  color: var(--white);
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 348px;
  padding-top: 72px;
  padding-left: 35px;
}
.poster_txt .poster_title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
.poster_txt .poster_info {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
.poster_txt .poster_linc > a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: var(--white);
}

.geo_fons {
  background-image: url(/img/geometricFons.png);
  height: 375px;
  width: 563px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 16px;
  left: 981px;
}/*# sourceMappingURL=all.css.map */