.footer_basic{
   background: #191f28 linear-gradient(118.25deg,#7c8e9b -50.09%,rgba(255,255,255,0) 42.43%);
   height: 443px;
   position: absolute;
   left: 0;
   top: 3452px;
   width: 100%;
}
.footer_end{
   background: var(--dark);
   height: 71px;
   position: absolute;
   left: 0;
   top: 3895px;
   width: 100%;
}