.info_header{
    background: rgba(240, 242, 244, 1);
}
.holder_title{
   display: flex;
   justify-content: space-between;
}
.call_part{
   align-items: center;
}
.about_part{
   padding: 0;
   gap: 20px;
   li{
      &::before{
         content:url(/img/checkMark.svg);
         padding-right: 7px;
      }
   }
}
.call_part{
   gap: 21px;
   .buy_svg{
      &::before{
         content:url(/img/buy.svg);
         padding-right: 5px; 
      }
      &:hover{
         color: var(--green);
      }
   }
   .call_svg{
      &::before{
         content:url(/img/call.svg);
         padding-right: 5px; 
      }
      &:hover{
         color: var(--green);
      }
   }
   .chat_svg{
      &::before{
         content:url(/img/chat.svg);
         padding-right: 5px; 
      }
      &:hover{
         color: var(--green);
      }
   }
}
/*patr 2*/
.content_header{
   max-height: 90px;
}
.content_part{
   justify-content: space-between;
   padding: 21px 0;
}
.menu_list{
   gap: 25px;
}
.link_header{
   gap: 21px;
   .login_svg{
      &::before{
         content:url(/img/login.svg);
         padding-right: 5px; 
      }
   }
   .cart_svg{
      &::before{
         content:url(/img/cart.svg);
         padding-right: 5px; 
      }
   }
}
.form_header{
   margin-left: 40px;
}
.inp_header{
   border: 1px solid #ececec;
   border-radius: 4px;
   width: 317px;
   height: 47px;
   padding-top: 11px;
   padding-bottom: 11px;
   padding-left: 22px;
   color: var(--pale);
   font-family: 'Montserrat';
   font-size: 14px;

}
.img_logo{
   padding-top: 10px;
}